/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";


/* Agregacion de fuente POPPINS para el body de la pagina a nivel general*/
body {
  font-family: 'Poppins', sans-serif;
}

